@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: Montserrat Bold;
  src: url("./fonts/Montserrat/Montserrat-VariableFont_Bold_wght.ttf");
}

$menu-width: 200px;

.wrapper {
  position: relative;

  .app_bar {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container {
      position: relative;
      width: 100%;
      max-width: 1320px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .menu_icon {
        position: relative;
        cursor: pointer;
        width: 24px;
        height: 24px;
      }
    }
  }

  .section_form {
    position: relative;
    // FIXME
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 1140px;
      display: flex;
      flex-direction: row;

      .item {
        position: relative;
        padding: 30px;
        flex: 1 1 0px;
        &.image {
          min-height: 513px;
          background-image: url("./images/black-white-exterior-building.jpg");
          object-fit: cover;
          background-position: 50% 50%;
          background-size: cover;
          background-repeat: no-repeat;
        }

        h2 {
          font-family: Montserrat, sans-serif !important;
          font-weight: 400;
          font-size: 2.25rem;
          line-height: 1.1;
        }

        .contact_name {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          h4 {
            font-family: Montserrat Bold, sans-serif !important;
            font-size: 1.25rem;
            margin-left: 49px;
          }
        }
      }
    }
  }

  .menu {
    position: fixed;
    z-index: 12;
    width: $menu-width;
    height: 100vh;
    background-color: black;
    color: white;
    left: calc($menu-width * -1);
    top: 0;
    transition: left 0.3s ease-in;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    &.open {
      left: 0;
      transition: left 0.3s ease-out;
    }

    .close_button {
      position: relative;
      background-color: inherit;
      width: 24px;
      width: 24px;
      margin: 20px 20px 0 auto;
    }

    .links {
      position: relative;
      list-style-type: none;

      padding-inline-start: 0;

      li {
        position: relative;
        font-family: "Open Sans", sans-serif;
        font-size: 1.25rem;
        display: block;
        text-align: center;

        a {
          color: white;
          text-decoration: none;
          padding: 8px 0;
          display: inline-block;
        }
      }
    }
  }
}
